{% for post in site.posts %}
  <div class="post">
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="post-date"><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }}</a></div>
    <div class="post-content">{{ post.content | auto_link | wiki_link }}</div>
  </div>
{% endfor %}
